.nav {
    grid-area: n;
    background-color: rgb(90, 116, 165);
    padding: 20px;
    height: 500px;
    
}
  
.item {
    padding: 20px;

}

.item a {
    color: aliceblue;
    text-decoration: none;
}

.item a.activeLink {
    color: #fff0d7;
}